<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="{{ url_for('back_bp.backoffice') }}">
                Bank Management System
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="admin.html">
                    Accounts
                </a>
                <a class="navbar-item" href="admin.html">
                    Transactions
                </a>
                <a class="navbar-item" href="admin.html">
                    Loans
                </a>
                <a class="navbar-item" href="admin.html">
                    Customer Service
                </a>
                <a class="navbar-item" href="admin.html">
                    Human Resources
                </a>
                <a class="navbar-item" href="admin.html">
                    Reports
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="admin.html">
                    
                </a>
            </div>

        </div>
    </div>
</nav>